$fontToolbar: 'Poppins', sans-serif;
$fontTitle: 'Archivo', sans-serif;
$fontBtnT: 'Montserrat', sans-serif;
$fontText: 'Nunito', sans-serif;
$fontName: 'Calistoga', cursive;
$white: #ffffff;
$red: #f64b3c;
$transition: .3s ease;